page-home {


}
b {    
  color: #BC1C45; }

  .heading{
	color:#000000;
	 font-weight: bold;
	 font-size:18px;
	 text-align:center;
}
  .values{
  color:#14387A;
  }
  .values1{
  color:#BC1C45;
  }
 
.masters{
	background-image:url('../assets/imgs/bg.jpg') ;
	background-repeat: no-repeat;
	background-size:cover;
	font-family:Georgia, serif;
	font-weight:bold;
}
.desc{
  font-family:Courier New, Courier, monospace;
  color:#154390  ; font-weight: bold;
   font-size:18px;
  text-align:center;
}
.code {
    font-family: Consolas, monaco, monospace;
    font-size:18px;
  
}
.subhead{
  font-size:14px;
  color:#EE7F0F;
  font-weight:bold;
}
.custom-icon {
  color : #FFC300  ;
}
.sentence{
  color:#303C63;
}